.desktop {
/* todo: move height to js */
    background-image: url("icons/my-show-desktop-symbolic.svg");

}
.desktop:active {
    background-image: url("icons/my-show-desktop-hover-symbolic.svg");

}
.desktop:focus {
    background-image: url("icons/my-show-desktop-hover-symbolic.svg");

}
.desktop:hover {
    background-image: url("icons/my-show-desktop-hover-symbolic.svg");

}
